<div [fxLayout]="column" fxLayoutAlign="center">
  <mat-card fxFlex="80%" fxFlex.xs="100%">
    <form class="player-container">
      <mat-form-field>
        <input matInput name='name' placeholder="Name" required [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput name='passcode' placeholder="Room Passcode" required [(ngModel)]="passcode" #spy>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" (click)="joinGameRoom()">Join Room</button>
    </form>
  </mat-card>
</div>
