<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">

  <!--<mat-card fxFlex="33">-->
    <!--<label>{{name}}</label>-->

    <!--<mat-list>-->
      <!--<mat-list-item *ngFor="let item of playerList | async">-->
        <!--<mat-icon mat-list-icon>folder</mat-icon>-->
        <!--<h4 mat-line>{{item.key}}</h4>-->
        <!--&lt;!&ndash;{{ item.payload.val() }}&ndash;&gt;-->
      <!--</mat-list-item>-->
    <!--</mat-list>-->

    <!--<button mat-raised-button color="primary" (click)="addNewProblem()">-->
      <!--Add New Problem-->
    <!--</button>-->
  <!--</mat-card>-->

  <!--<div *ngFor="let item of playerList | async">-->

  <div fxFlex="33" fxFlexOffset="15px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Room ID: {{id}}
        </mat-card-title>
        <mat-card-subtitle>Name: {{room?.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ask the players to login through the player section.</p>
        <p>
          The Room passcode is <b>{{room?.passcode}}</b>.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="sec2" fxFlex="33" fxFlexOffset="15px">
    <app-problem-moderator [moderatorId]="id" [roomId]="moderator?.roomId"></app-problem-moderator>
  </div>

  <div class="sec1" fxFlex="33" fxFlex.md="56" fxFlexOffset="15px">
    <app-room-person-list [roomId]="moderator?.roomId"  (roomIdChange)="roomIdChange($event)"></app-room-person-list>
  </div>

  <div fxFlex="50" fxFlexOffset="15px">
    <app-room-problem-list [roomId]="moderator?.roomId"></app-room-problem-list>
  </div>

  <!--<div class="sec3" fxFlex="55" fxFlex.md="15" fxFlexOffset="15px" fxShow [fxHide.md]="true">-->
    <!--<app-room-problem-list [roomId]="moderator?.roomId" (roomIdChange)="roomIdChange($event)"></app-room-problem-list>-->
  <!--</div>-->
</div>

