<div class="example-container">

  <mat-card>
    <label>{{name}}</label>

    <mat-list>
      <mat-list-item *ngFor="let item of playerList | async">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{item.key}}</h4>
        <!--{{ item.payload.val() }}-->
      </mat-list-item>
    </mat-list>

    <button mat-raised-button color="primary" (click)="addNewProblem()">
      Add New Problem
    </button>
  </mat-card>

  <app-problem-moderator></app-problem-moderator>
</div>
