.auth-container {
  height: 97vh;
  width: 97vw;
  background-image: url("https://images.unsplash.com/photo-1465935343323-d742334bcbda?auto=format&fit=crop&w=3392&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
