<div [fxLayout]="column" fxLayoutAlign="center">
  <mat-card fxFlex="80%" fxFlex.xs="100%">
    <form class="moderator-container">
      <mat-form-field>
        <input matInput name="name" placeholder="Name" required [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput name="roomTitle" placeholder="Room Title" required [(ngModel)]="roomName">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="createNewRoom()">Create Room</button>
    </form>
  </mat-card>
</div>
