<mat-card>
  <mat-card-header>
    <!--<div mat-card-avatar></div>-->
    <mat-card-title>Problem</mat-card-title>
    <mat-card-subtitle>Editor</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!--<mat-form-field class="full-width">-->
      <!--<input matInput placeholder="Name" [(ngModel)]="name" value="name">-->
    <!--</mat-form-field>-->

    <mat-tab-group>
      <mat-tab label="Multiple Choice">
        <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">

          <div class="flex-item" fxFlex>
            <mat-slider class="mc-items" thumbLabel tickInterval="1" [(ngModel)]="mcNumOfChoice" [min]='mcMin' [max]="mcMax"
                        (ngModelChange)="onMcSliderChange($event)" fxFlexAlign="center"></mat-slider>
          </div>

          <div class="flex-item">
            <div fxLayout="row">
              <div fxLayout="column">
                <div class="flex-item" *ngFor="let mItem of mcItems; let i=index; trackBy:trackByFn;" fxFlex>
                  <!--{{ mItem}}-->
                  <input [(ngModel)]="mcItems[i]">
                </div>
              </div>

              <div class="flex-item" fxFlex>
                <app-multiple-choice [items]="mcItems" (onAnswer)="onAnswer($event)"></app-multiple-choice>
              </div>
            </div>

            <div class="flex-item">
              <mat-form-field>
                <input matInput  name="elapseTime" placeholder="Time Elapsed (Seconds)" [(ngModel)]="mcTime">
              </mat-form-field>

            </div>
          </div>
        </div>

        <label>Answer: {{mcAnswer}}</label>
        <!--<mat-grid-list cols="2" rowHeight="100px">-->

          <!--<mat-grid-tile [colspan]="1" [rowspan]="1"><button class="full-width full-height" mat-raised-button color="primary">Red</button></mat-grid-tile>-->
          <!--<mat-grid-tile [colspan]="1" [rowspan]="1"><button class="full-width full-height" mat-raised-button color="accent">Blue</button></mat-grid-tile>-->

          <!--<mat-grid-tile [colspan]="1" [rowspan]="1"><button class="full-width full-height" mat-raised-button color="warn">Green</button></mat-grid-tile>-->
          <!--<mat-grid-tile [colspan]="1" [rowspan]="1"><button class="full-width full-height" mat-raised-button color="yellow">Yellow</button></mat-grid-tile>-->
        <!--</mat-grid-list>-->
      </mat-tab>
      <!--<mat-tab label="Slider">-->
        <!--<mat-slider step="4" tickInterval="3"></mat-slider>-->
      <!--</mat-tab>-->
    </mat-tab-group>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="submit()">Submit</button>
  </mat-card-actions>
</mat-card>
